.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
form{
    background-color: honeydew;
    border-style: groove;
    padding: 20px;
    width: 20%;
}
.error {
    color: red;
}
